@model ROOM;


@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<h1>Room Details</h1>

<h4>Edit Room Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="REdit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Rid" />
            <div class="form-group">
                <label asp-for="RoomType" class="control-label"></label>
                <input asp-for="RoomType" class="form-control" type="hidden" />

            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" type="hidden" />

            </div>
            <div class="form-group">
                <label asp-for="CheckInDate" class="control-label"></label>
                <input asp-for="CheckInDate" class="form-control" type="date" />

            </div>
            <div class="form-group">
                <label asp-for="CheckOutDate" class="control-label"></label>
                <input asp-for="CheckOutDate" class="form-control" />
               
            </div>
            <div class="form-group">
                <label class="control-label">Select Hotel</label>
                <select  asp-for="Hid" class="form-control" asp-items="@(new SelectList(ViewBag.message, "Hid", "HotelName"))">
                    <option value=""></option>
                </select><input type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control"  />

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

